.posts {
  max-width: 600px;
  margin: 0 auto;
  background-color: white;
  padding: 5px;
}
.postsBox {
  text-align: left;

  .post {
    border: 1px solid black;
    margin: 5px auto;
    padding: 5px;
    cursor: pointer;
    position: relative;
    .deleteBtn {
      position: absolute;
      right: 0;
      top: 0;
      height: 15px;
      width: 15px;
      color: red;
      z-index: 100;
      &:hover {
        cursor: pointer;
        transition: 0.3s;
        color: green;
      }
    }
    .titleLine {
      font-weight: 700;
    }
  }
}
