.Main {
  max-width: 600px;
  margin: 0 auto;
  background-color: white;
  border-radius: 5px;
  padding: 5px;
}
.taskList {
  margin: 0 auto;
}
.taskBox {
  display: flex;
  justify-content: space-between;
  width: 100%;
  .taskContent {
    display: flex;
  }
  .deleteTaskButtonBox {
    float: right;
    button {
      background-color: transparent;
      border: none;
      display: flex;
      align-items: center;
      cursor: pointer;
      &:hover {
        color: red;
        background-color: black;
        transition: 1s;
        border-radius: 50%;
      }
    }
  }
}
